<h1>Volunteer Tracker</h1>

<form action="/" method="post">

  Enter Title:<input type="text" name="title">
  <button type="submit" class="btn-success">Create Project</button>
</form>


<% if @projects.any? %>
<br><br>
<h3>Existing Projects:</h3>
  <ul>

  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>

  </ul>
  <br><br>
  <h3>Add Volunteers:</h3>
  <form action="/volunteers/add" method="post">
    Name:<input type="text" name="name">
    <button type="submit" name="button">Add Volunteer</button>
  </form>
  <% if @volunteers.any? %>
    <br><br>
    <h3>Volunteer Pool:</h3>
      <ul>
      <% @volunteers.each do |volunteer| %>
        <li><a href="/volunteers/<%= volunteer.id %>/edit"><%= volunteer.name %></a></li>
      <% end %>
    <% else %>
    <h2>No volunteers yet. Get recruiting!</h2>
    <% end %>
  <% else %>
  <h3>No projects yet.</h3>
<% end %>
