<h1><%= @volunteer.name %></h1>

<form action="/volunteers/<%= @volunteer.id %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  Name:<input type="text" name="name">
  <button type="submit" name="button">Update Volunteer</button>
</form>
